* {
    padding: 0;
    margin: 0;
}

.flag {
    background-color: rgb(206, 17, 38);
    height: 600px;
    width: 900px;
    margin: 20px;
}

p {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 72px;
    color: white;
    margin: 0;
}

.circle>p {
    position: relative;
    top: 36px;
    margin: 0 auto;
    color: black;
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.midpart {
    position: relative;
    top: 50px;
    background-color: rgb(0, 40, 104);
    height: 260px;
}